/* --- Navbar Custom Styles --- */
.main-menus{
  margin-left: auto;
}

.row{
    display: flex;
}
.col{
    flex: 0 0 auto;
}
.col-1{
    flex: 1 1 auto;    //This should go back to flex: 0 0 auto after render
} 
